#root {
  text-align: center;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

tr:nth-child(odd) {
  background: #fff;
}

th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}

.search-bar {
  width: 50vw;
}

.filter-dropdown {
  z-index: 1000;
  width: 25vw;
}

.filter-categories-wrapper {
  margin-bottom: 1rem;
}

.filter-category-complete {
  text-align: left;
  padding: 0.25rem;
  align-items: center;
}

.filter-category-text:hover {
  color: #fff;
  transition: background-color 0.3s ease;
}

.filter-category-text {
  padding-left: 0.75rem;
}

.filter-outer-wrapper {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding-left: 0.25rem;
  background: linear-gradient(to right, #2c2c2c, #2d2d2d);
  color: #d0d0d0;
  padding-left: 1rem;
  font-weight: 700;
  padding: 1rem;
  max-width: 180px;
}

.filter-price-wrapper {
  padding-bottom: 0.25rem;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid;
}

.filter-price {
  padding-bottom: 0.5rem;
}

.filter-price-text {
}

.filter-price-input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
}

.filter-lostfound-wrapper {
  border-bottom: 2px solid;
  flex-direction: row;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
}

.filter-lostfound-input {
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
}

.filter-sectionexchange-wrapper {
  border-bottom: 2px solid;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
}

.filter-sectionexchange-course-outer-wrapper {
  align-items: center;
  max-width: 140px;
}

.filter-sectionexchange-course-wrapper {
  margin-bottom: 1rem;
}

.filter-sectionexchange-course-select {
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #fff;
}

.filter-sectionexchange-course-select-option {
}

.filter-sectionexchange-section-outer-wrapper {
  align-items: center;
  max-width: 140px;
  display: flex;
  flex-direction: column;
}

.filter-sectionexchange-section-wrapper {
  margin-bottom: 1rem;
  max-width: 140px;
}

.filter-sectionexchange-section-input {
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #fff;
}

.filter-date-input {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.filter-date-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.filter-date-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  border-bottom: 2px solid;
}

.filter-page-post-number-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  border-bottom: 2px solid;
}

.filter-page-number-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.filter-post-per-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.filter-page-number-input {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.filter-post-per-input {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.filter-reset-filter-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.create-post-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 8vh;
  align-self: center;
}

.create-post-button:hover {
  background-color: #18741d;
  transition: background-color 0.3s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.modal-header {
  text-align: right;
  padding: 10px;
}

.create-item-form {
  width: 40%;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-form-group {
  margin-bottom: 15px;
}

.modal-label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

.profileContainer {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileImage {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.profileUserInfo {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font: bold;
}

.profileName {
  font-size: 24px;
  margin: 0;
}

.profileUsername {
  color: #555;
  margin: 0;
}

.profileDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.profileEditIcon {
  max-height: 5vh;
  max-width: 5vw;
  margin-left: 37vw;
  margin-bottom: 1vh;
}

.editProfileButtonContainer {
  align-self: center;
  margin-top: 5vh;
}

.editProfileButtonContainer > * {
  margin-right: 1vw;
}

.edit-profile-header {
  text-align: center;
  font-size: xx-large;
  width: 100%;
  margin-bottom: 3vh;
}

.profileColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.infoLabel {
  margin: 0;
  font-size: 16px;
  color: #888;
  width: 20vw;
  text-align: left;
}

.infoValue {
  margin: 0;
  font-size: 16px;
}

.profilePosts {
  margin-top: 20px;
}

.statLabel {
  margin: 0;
  font-size: 18px;
}

.loader {
  position: relative;
  width: 100px;
  height: 16px;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 32px 0 #fff;
  left: 0;
  top: 0;
  animation: ballMoveX 1s linear infinite;
}
.loader:after {
  box-shadow: none;
  transform-origin: 40px 0;
  transform: rotate(-153deg);
  animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
  0%,
  10% {
    transform: rotate(-153deg);
  }
  90%,
  100% {
    transform: rotate(0deg);
  }
}
@keyframes ballMoveX {
  0%,
  10% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(32px);
  }
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.profileContainer {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.profileImage {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.profileUserInfo {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font: bold;
}

.profileName {
  font-size: 24px;
  margin: 0;
}

.profileUsername {
  color: #555;
  margin: 0;
  width: 25vw;
  overflow: hidden;
}

.profileDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.profileColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.infoLabel {
  margin: 0;
  font-size: 16px;
  color: #888;
  width: 150px;
  text-align: left;
}

.infoValue {
  margin: 0;
  font-size: 16px;
}

.profilePosts {
  margin-top: 20px;
}

.statLabel {
  margin: 0;
  font-size: 18px;
}

.navbar-outer {
  background: linear-gradient(to right, #2c2c2c, #2d2d2d);
  color: #adadad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-left: 3%;
  object-fit: fill;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  object-fit: fill;
  justify-content: space-between;
}

.home-navbar-li {
  object-fit: fill;
}

.home-navbar-link {
  color: #adadad;
  font-size: 1.5rem;
  font-weight: 700;
}

.home-navbar-link:hover {
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.header-outer {
  background: linear-gradient(to right, #2c2c2c, #2d2d2d);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 1px 5px #fff;
}

.header-profile-outer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
}

.header-profile-username {
  color: #adadad;
  font-size: 1.25rem;
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}

.header-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header-profile-dropdown {
  position: fixed;
  top: 0;
  margin-top: 55px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
}

.header-profile-dropdown-link {
  display: block;
  padding: 5px 10px;
  color: #93c5fd;
  text-decoration: none;
  transition: background-color 0.7s ease-in-out;
}

.header-profile-dropdown-link:hover {
  background-color: #fff;
}

.header-title-outer {
  display: flex;
  align-items: center;
}

.header-title-link {
  textdecoration: "none";
  display: flex;
  align-items: center;
  color: #adadad;
  text-decoration: none;
}

.header-title-link:hover {
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.header-title-text {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.header-title-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
}

.header-message-link {
}

.postdetails-container {
  display: flex;
}

.postdetails-left-container {
  width: 60vw;

  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 3vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: center;
  justify-items: center;
}

.postdetails-right-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.postdetails-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
  font-size: xx-large;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}

.postdetails-image img {
  height: 55vh;
  width: 55vw;
  object-fit: contain;
}

.postdetails-edit-delete-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2vh;
  justify-content: end;
}

.delete-post-modal-body {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2vw;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.postdetails-user-info-container {
  flex-shrink: 0;
  height: fit-content;
  background-color: #c4e1fa;
  border: #000000 1px solid;
  border-radius: 5%;
  padding: 1w;
  margin-bottom: 2vw;
  width: 100%;
}

.postdetails-username-dmbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  margin-bottom: 10px;
}

.postdetails-dmbox-container {
  height: 30px;
  width: 30px;
  margin-left: 8px;
}

.postdetails-user-info {
  display: flex;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
}

.postdetails-user-info-label {
  font-size: 16px;
}

.postdetails-user-info-value {
  margin-bottom: 5px;
  font-weight: bold;
}

.postdetails-details-container {
  border: #000000 1px solid;
  border-radius: 5%;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  width: 100%;
  max-height: 68%;
}

.postdetails-price {
  font-size: x-large;
  color: green;
  text-align: left;
}

.postdetails-status {
  font-size: x-large;
  color: red;
  text-align: left;
}

.postdetails-description {
  font-size: large;
  border-bottom: 1px solid #000000;
  text-align: left;
  max-height: 82%;
  overflow: auto;
  overflow-wrap: break-word;
}

.postdetails-details-info {
  display: flex;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
}

.postdetails-details-info-value {
  font-weight: bold;
}

.postdetails-borrow-description {
  font-size: large;
  text-align: left;
  max-height: 70%;
  overflow: auto;
  overflow-wrap: break-word;
}

.forumpostdetails-container {
  width: 80%;
  margin: 2vw auto;
}

.forumpostdetails-first-entry-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 4vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.forumpostdetails-entry-container {
  margin-bottom: 3vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.forumpostdetails-entry-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
  width: 100%;
  height: fit-content;
  align-items: center;
}

.forumpostdetails-profile-picture {
  width: 3vw;
  height: 5vh;
  border-radius: 50%;
  margin-right: 1vw;
  align-self: center;
}

.forumpostdetails-username {
  font-weight: bold;
  font-size: 18px;
  margin-right: 2vw;
  align-self: center;
}

.forumpostdetails-date {
  font-size: 16px;
  color: #888;
  margin-left: auto;
  margin-right: 3px;
  margin-bottom: 10px;
}

.forumpostdetails-title {
  font-weight: bold;
  font-size: x-large;
  text-align: left;
  margin-left: 2vw;
  margin-bottom: 2vh;
}

.forumpostdetails-entry-content {
  display: flex;
  flex-direction: row;
  font-size: large;
  text-align: left;
  margin-left: 2vw;
  overflow-wrap: break-word;
  overflow: auto;
  max-width: 100%;
}

.forumpostdetails-vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2vw;
  height: 10vh;
  font-size: x-small;
  border-radius: 0 0 5px 5px;
}

.forumpostdetails-vote-container img {
  width: 2vw;
  height: 3vh;
  width: fit-content;
}

.forumpostdetails-entries-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: left;
  margin-bottom: 1vh;
  margin-top: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.entry-edit-delete-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
  justify-content: end;
}

.entry-edit-delete-container button {
  margin-left: 6px;
  font-size: 13px;
  text-align: center;
}

.outer-container {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
}

.messenger-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 28vw;
  height: 95vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(200, 200, 200, 0.9);
  border-radius: 20px;
  border: #007bff 2px solid;
  margin-top: 3px;
  transition: transform 0.5s ease;
}

.messenger-box.closed {
  transform: translateX(100%);
}

.messenger-close-button {
  height: fit-content;
  width: fit-content;
  margin-right: auto;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 1vw;
}

.messenger-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.messenger-menu-top-text {
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
}

.messenger-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  overflow: auto;
}

.messenger-menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  text-align: left;
}

.messenger-menu-item {
  width: 100%;
  height: fit-content;
  text-align: left;
  border: #007bff 2px solid;
  border-radius: 15px;
  margin-top: 2vh;
  padding-left: 5px;
  padding-bottom: 1px;
}

.messenger-menu-item-top-half {
  display: flex;
  flex-direction: row;
}

.messenger-menu-item-username {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.messenger-menu-item-date {
  margin-left: auto;
  margin-right: 1vw;
}

.messenger-conversation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
}

.messenger-conversation-back-button {
  text-align: left;
  border: #000000 2px solid;
  border-radius: 10px;
  width: fit-content;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #aaa;
}

.messenger-conversation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  text-align: left;
  margin-top: 2vh;
}

.messenger-conversation-username {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.messenger-conversation-messages {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 85vh;
  text-align: left;
  margin-top: 2vh;
  overflow: auto;
  border: black 2px solid;
  border-radius: 10px;
  padding: 8px;
}

.messenger-conversation-message {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  border: black 1px solid;
  border-radius: 20px;
  padding-left: 8px;
  padding-top: 2px;
  margin-top: 1vh;
}

.messenger-conversation-message.incoming {
  text-align: left;
}

.messenger-conversation-message.outgoing {
  margin-left: auto;
}

.messenger-conversation-message-top-half {
  display: flex;
  flex-direction: row;
}

.messenger-conversation-message-date {
  margin-left: auto;
  margin-right: 6px;
  color: #888;
}

.messenger-conversation-message-sender {
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: -5px;
}

.messenger-conversation-message-content {
  line-height: 115%;
  margin-bottom: 4px;
}

.messenger-conversation-input-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: fit-content;
  margin-top: 8px;
}

.messenger-conversation-input {
  width: 78%;
  height: 6vh;
  border: #007bff 1px solid;
  border-radius: 20px;
  padding-top: 6px;
  padding-left: 8px;
  color: white;
}

.messenger-conversation-send-button {
  width: 22%;
  height: 6vh;
  border: #007bff 1px solid;
  border-radius: 20px;
  padding: 6px;
  background-color: rgb(8, 139, 8);
  color: white;
  margin-left: 2px;
}

.header-dmbox-image {
  width: 50px;
  height: 50px;
}

.profileDMBoxContainer {
  margin-left: auto;
  width: 40px;
  height: 40px;
}

.forgot-password-body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-h2 {
  color: #333;
}

.forgot-password-form {
  margin-top: 20px;
}

.forgot-password-label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.forgot-password-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgot-password-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forgot-password-button:hover {
  background-color: #0056b3;
}

.forgot-password-p {
  margin-top: 16px;
  color: #555;
}

.reset-password-container {
  max-width: 400px;
}

.forgot-password-button {
  color: #007bff;
  text-decoration: none;
}

.post-save-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
}

.post-save-container-sectionexchange-type {
  position: absolute;
  top: 0;
  left: 78vw;
}

.post-save-container-forum-type {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 30px;
}

.post-save-container-borrow-type {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 30px;
}

.post-saved-icon {
  height: 50px;
  width: 45px;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.post-notsaved-icon {
  height: 40px;
  width: 40px;
  left: 0;
  transition: all 0.8s ease-in-out;
}

.reports-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.reports-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.report-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  margin-bottom: 4vh;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.report-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.report-description {
  font-size: 20px;
  text-align: center;
  margin-bottom: 2vh;
}

.post-image {
  width: 28vw;
  height: 36vh;
  object-fit: cover;
}

.post-image {
  width: 28vw;
  height: 36vh;
}

.borrow-post-badge {
  position: absolute;
  top: 0;
  right: 70px;
}

.forum-post-title {
  font-size: 26px;
  font-weight: bold;
  text-align: left;
}

.success-modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 0.95; 
  font-weight: 600;
  font-size: 0.875rem;
}

.success-modal-content > * {
  margin-bottom: 1rem; 
}

.success-modal-content > *:last-child {
  margin-bottom: 0;
}

.success-modal-content-par {
  color:#0056b3;
}