#root {
  text-align: center;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

tr:nth-child(odd) {
  background: #fff;
}

th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}

.search-bar {
  width: 50vw;
}

.filter-dropdown {
  z-index: 1000;
  width: 25vw;
}

.card:hover {
  text-decoration: underline;
  cursor: pointer;
}

.create-post-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 8vh;
  align-self: center;
}

.create-post-button:hover {
  background-color: #18741d;
  transition: background-color 0.3s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.modal-header {
  text-align: right;
  padding: 10px;
}

.create-item-form {
  width: 40%;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-form-group {
  margin-bottom: 15px;
}

.modal-label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

.profileContainer {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.profileImage {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.profileUserInfo {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font: bold;
}

.profileName {
  font-size: 24px;
  margin: 0;
}

.profileUsername {
  color: #555;
  margin: 0;
}

.profileDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.profileColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.infoLabel {
  margin: 0;
  font-size: 16px;
  color: #888;
  width: 150px; /* Adjust as needed */
  text-align: left;
}

.infoValue {
  margin: 0;
  font-size: 16px;
}

.profilePosts {
  margin-top: 20px;
}

.statLabel {
  margin: 0;
  font-size: 18px;
}

.loader {
  position: relative;
  width: 100px;
  height: 16px;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 32px 0 #fff;
  left: 0;
  top: 0;
  animation: ballMoveX 1s linear infinite;
}
.loader:after {
  box-shadow: none;
  transform-origin: 40px 0;
  transform: rotate(-153deg);
  animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
  0%,
  10% {
    transform: rotate(-153deg);
  }
  90%,
  100% {
    transform: rotate(0deg);
  }
}
@keyframes ballMoveX {
  0%,
  10% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(32px);
  }
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.profileContainer {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.profileImage {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.profileUserInfo {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font: bold;
}

.profileName {
  font-size: 24px;
  margin: 0;
}

.profileUsername {
  color: #555;
  margin: 0;
}

.profileDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.profileColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.infoLabel {
  margin: 0;
  font-size: 16px;
  color: #888;
  width: 150px;
  text-align: left;
}

.infoValue {
  margin: 0;
  font-size: 16px;
}

.profilePosts {
  margin-top: 20px;
}

.statLabel {
  margin: 0;
  font-size: 18px;
}

.header-outer {
  background: linear-gradient(to right, #3b82f6, #93c5fd);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 1px 5px #fff;
}

.header-profile-outer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
}

.header-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header-profile-dropdown {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.header-profile-dropdown-link {
  display: block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.header-profile-dropdown-link:hover {
  background-color: #fff;
}

.header-title-outer {
  display: flex;
  align-items: center;
}

.header-title-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.header-title-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.header-message-link {
}
