.profileContainer {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.profileImage {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.profileUserInfo {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font: bold;
}

.profileName {
  font-size: 24px;
  margin: 0;
}

.profileUsername {
  color: #555;
  margin: 0;
}

.profileDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.profileColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.infoLabel {
  margin: 0;
  font-size: 16px;
  color: #888;
  width: 150px; /* Adjust as needed */
  text-align: left;
}

.infoValue {
  margin: 0;
  font-size: 16px;
}

.profilePosts {
  margin-top: 20px;
}

.statLabel {
  margin: 0;
  font-size: 18px;
}
